
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$duration: 0.3s;
$sectionPadding: 5em;
$slant: 3deg;
$slantOffset: -3deg;
$blur : 3px;

$custom-control-gutter-lg: 2rem;
$custom-control-indicator-size: 1.5rem;
$custom-control-indicator-size-lg: 3rem;
$custom-control-gutter-lg: 4rem;
$custom-control-indicator-checked-bg: #fff;
$custom-control-indicator-checked-color: $green;